[2019-10-25 08:35] abhijithvijayan opened #1 "add autoprefixer support"

[2019-10-25 12:41] #1 closed, assigned to nobody

[2019-10-25 14:23] abhijithvijayan opened #2 "Typo fix"
Write Once Run on Any Browser

In readme

Comment here and submit a PR

[2019-10-25 14:51] Antoine38660 commented on #2
Hey @abhijithvijayan I'll submit a PR for this one in a minute 😄

[2019-10-25 14:52] aneeshsharma commented on #2
#3 Fixed the issue
Please review

[2019-10-25 15:56] #2 closed

[2019-10-25 16:49] abhijithvijayan opened #4 "Dynamically generate browser-tailored manifest.json files"
Currently there are 3 different `manifest.json` files for each of the browser.
This was initially aimed to tackle the different `fields` of `manifest.json` file that varies between browsers.

Add a better way to generate that according to the build varaint, so that the user needs to keep **1** `manifest.json` overall.

View the discussion on [reddit](https://www.reddit.com/r/javascript/comments/dm

[2019-10-26 12:07] abhijithvijayan opened #5 "Add demo to readme"
Add https://github.com/abhijithvijayan/kutt-extension

as a project demo that uses this template to README.

[2019-10-26 12:08] abhijithvijayan commented on #5
[code]

[2019-10-26 12:41] #5 closed

[2019-10-30 16:41] abhijithvijayan commented on #4
I have published an npm package https://github.com/abhijithvijayan/wext-manifest for this purpose

[2019-10-31 02:48] #4 closed

[2019-11-01 13:13] abhijithvijayan opened #8 "generate browser taylored manifest.json files"
It is better to use something like [wext-manifest](https://github.com/abhijithvijayan/wext-manifest) to generate manifest files

[2019-11-01 17:33] funkyremi opened #9 "What about Safari ?"
Have you planed to add safari support ?

[2019-11-02 00:25] abhijithvijayan commented on #9
@funkyremi Safari uses its own proprietary Safari Extensions JS and doesn't support web extensions API

[2019-11-02 00:26] #9 closed

[2019-11-02 00:26] #8 closed

[2019-11-12 13:28] abhijithvijayan opened #10 "option to provide cache busting"
As the manifest is generated at runtime, this could be used to inject the scripts source with webpack to `manifest.json` instead of setting `js/background.js` as static to prevent caching of scripts which when receives an update.

[2019-11-12 13:35] abhijithvijayan opened #11 "Browser support"
- **Safari**: wont end up in the list till it does support Webextensions API

- **Edge**: supports this starter in the latest chromium based version only. (not backward compatible) This version of edge supports installing this extension from Chrome store.

- **Other Chromium based browsers**: should work on browsers that are based on Chromium 49 and later. Recommended to use the latest version of

[2019-11-13 14:04] abhijithvijayan opened #12 "Add support for content scripts"
Feature Request

[2019-11-16 05:32] jgornick commented on #12
Great project!

I was wondering if this is something that can be done manually without having to implement a templated solution? I'm looking to support content scripts so that I can inject a script into a page.

Any help would be greatly appreciated!

Thanks!

[2019-11-16 05:34] abhijithvijayan commented on #12
Let me look onto that

[2019-11-16 05:41] jgornick commented on #12
I suppose one could inject programmatically: https://developer.chrome.com/extensions/content_scripts#programmatic

[2019-11-16 05:44] abhijithvijayan commented on #12
I guess, adding an entry to webpack config file and then updating the manifest file would do it nice and smooth.

[code]

[2019-11-16 05:46] jgornick commented on #12
I'll keep you posted. It's getting late here, so might have to dive in tomorrow. Thank you so much!

[2019-11-16 05:47] abhijithvijayan commented on #12
I will try to add a demo with content scripts.

[2019-11-16 05:53] #11 closed

[2019-11-16 08:16] abhijithvijayan commented on #12
I just added a sample content script file to this starter as well.

[2019-11-16 08:16] #12 closed

[2019-11-18 04:09] jgornick commented on #12
Awesome! Works @abhijithvijayan, thank you!

[2019-11-18 04:10] abhijithvijayan commented on #12
@jgornick Good to hear. :smiley:

[2019-12-30 06:39] zicjin opened #13 "what's eslint-config-onepass?"
I can't understand its role in this project. Is it possible to use a general solution?

[2019-12-30 09:00] abhijithvijayan commented on #13
`eslint-config-onepass` is my custom set of rules for Eslint and Prettier.

If you don't wanna use my styles and rules, feel free to remove all the linting dev dependencies and set up the configuration all by yourself.

[2019-12-30 09:02] abhijithvijayan commented on #13
You can view all rules and also the instructions to remove `eslint-config-onepass` and its `devDependencies` at https://github.com/onepassapp/eslint-config-onepass

[2019-12-30 09:53] zicjin commented on #13
The significance of the starter project is to minimize the user's customization work with a common solution. And I see that some eslint config|plugins are already defined in package.json. Why not use them directly?
[code]

[2019-12-30 10:01] abhijithvijayan commented on #13
@zicjin Anyone using this starter could've overridden or even removed whole configuration and added their own custom rules which they are used to.

I didn't want to write all the configuration manually for this repo as I use the package in all other projects regularly.

If you think adding the user customizable(which still is now) to the single configuration, feel free to submit a PR and I will me

[2019-12-30 10:02] #13 closed

[2020-01-16 23:16] abhijithvijayan opened #14 "add browser reloading functionality"
use webpack-extension-reloader

[2020-01-23 15:27] #14 closed

[2020-01-23 16:32] abhijithvijayan opened #16 "TypeScript + React fork"
Create a new branch with react.js for UI & TypeScript support

[2020-01-26 14:11] abhijithvijayan opened #17 "use @babel/babel-plugin-syntax-dynamic-import"
https://babeljs.io/docs/en/babel-plugin-syntax-dynamic-import

[2020-01-27 02:37] abhijithvijayan opened #18 "Migrate to yarn 2.0.0"
https://yarnpkg.com/advanced/migration

[2020-01-27 03:19] abhijithvijayan commented on #18
Maybe use yarn 1 for now with specifying the version `legacy` to use instead of `berry`

[2020-01-27 15:07] #18 closed

[2020-01-27 15:07] #17 closed

[2020-01-27 15:09] abhijithvijayan commented on #16
Done in https://github.com/abhijithvijayan/web-extension-starter/tree/react-typescript

This branch is now set as default branch.

For the non-typescript version, checkout master branch

[2020-01-27 15:09] #16 closed

[2020-01-27 15:39] abhijithvijayan commented on #18
Currently, the repo is set to use yarn v1 (with yarn 2 in local machine)
It is said that this is backward compatible.

currently, `node_modules` is being created when run with `yarn2` as set by option

[2020-01-30 11:58] abhijithvijayan opened #19 "issue with sass files with same names imported directly to ts components"
[code]

When `styles.scss` is imported directly to `index.tsx` in each of the components, it replaces the initial build file with the following build file causing missing styles.
[code]

CRA handles this nice and smooth without any duplication.

[2020-01-31 10:38] #19 closed

[2020-01-31 12:19] hhaoao opened #21 "master branch: switch to npm, source map error appears"
@abhijithvijayan I follow your prompt to delete the relevant files and modify the package.json file:
[code]
Follow readme.md, run:
[code]

But I'm having a small problem,if you know how to fix it please let me know. (I don't know if I'm going to encounter it with yarn),`Source map error` problems have kept me at bay.

[code]

I didn't modify `travis.yml` file because I didn't use 'travis-ci'.

[2020-01-31 12:29] abhijithvijayan commented on #21
You are using the non typescript version right?

[2020-01-31 12:45] hhaoao commented on #21
Yes, non typescript version, here's my fork master branch's repository.
https://github.com/hhaoao/web-extension-starter.git

[2020-01-31 12:50] abhijithvijayan commented on #21
I will look into it tonight

[2020-02-01 13:15] hhaoao commented on #21
I installed yarn, i saw the error message, `web-extension-starter`, `wext-manifest` asked the `node` version >=8 <=12. If you haven't solved the problem of project compatibility with npm, I think you should upgrade to Yarn v2,node upgrade with other packages to the latest first, otherwise you might waste more time.

[2020-02-01 13:46] abhijithvijayan commented on #21
Sorry, I was about to look into it.

The berry release of yarn has caused a lot of issues to many people.

Yarn 2 requires Node.js 10 or above.

If you are planning to use yarn(which I recommend) have node.js 10 or 12 installed(through nvm if on linux)

I will soon drop support for node.js 8

[2020-02-01 17:23] abhijithvijayan commented on #21
I have made both the branches to limit only using node.js 10 and above.
Yarn works for both v1 & v2 installed on machine(it uses yarn v1 in `.yarn/releases` by default.

Also, later I can migrate to `yarn 2 berry` with `node_modules` installs enabled or disabled(`PnP-loose` mode)

even with this breaking change([read more](https://github.com/yarnpkg/berry/issues/766#issuecomment-580658470)) `yarn`

[2020-02-01 17:27] abhijithvijayan commented on #10
This can be implemented by
- Setting `[contenthash]` suffix to output filename entry
- Updating manifest field for scripts with the content hash when generating them

[2020-02-01 17:28] abhijithvijayan commented on #18
https://github.com/abhijithvijayan/web-extension-starter/issues/21#issuecomment-581050750

[2020-02-02 02:13] hhaoao commented on #21
Thank, I'm going to switch to yarn v1 and I'll continue to build this project with npm, which should be a compatibility issue caused by some packages, which shouldn't be very difficult.

[2020-02-02 02:15] abhijithvijayan commented on #21
Just delete

`.yarn`, `yarn.lock`, `.yarnrc.yml`, `node_modules`

Run `npm install`

Update scripts with npm

This should work by default.

[2020-02-03 01:50] #21 closed

[2020-03-09 13:56] abhijithvijayan opened #22 "migrate to fork-ts-checker-webpack-plugin"
The repo https://github.com/s-panferov/awesome-typescript-loader is archived

Hence migrate to

https://www.npmjs.com/package/fork-ts-checker-webpack-plugin

[2020-03-09 14:15] #22 closed

[2020-03-09 16:00] abhijithvijayan opened #23 "#22 broke build"

[2020-03-09 17:47] abhijithvijayan commented on #23
Babel 7 supports TypeScript

So set up is possible using babel + typescript + fork-ts-checker-webpack-plugin

[2020-03-09 17:48] #23 closed

[2020-03-09 17:49] abhijithvijayan commented on #23
fixed in bdffca93fa722c6a8dc4d1498bec430b3c9a9ff9

[2020-03-29 17:45] abhijithvijayan opened #24 "Use basic styling for options page"
https://github.com/fregante/webext-base-css

[2020-03-29 20:38] #24 closed

[2020-03-31 16:20] subins2000 opened #25 "What is short_name ?"
In `manifest/index.js`, there's the field `short_name`. What is it for ?

[2020-03-31 16:25] abhijithvijayan commented on #25
It is used when the name is too long

You can checkout the documentation [here](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/short_name)

Also, please do note that, the underlying package `wext-manifest` requires a js file to generate the manifest files(for now)

This will be changed in the upcoming version for which it is planned to be released as a webpack

[2020-03-31 16:26] abhijithvijayan commented on #25
The migration will be as simple as
- removing and installing new loader package
- move contents to manifest.json
- deleting js file
- replacing entry in webpack config

[2020-03-31 16:28] abhijithvijayan commented on #25
@subins2000 I will be closing this for now.

Feel free to reopen if any such questions are raised.

Thanks.

[2020-03-31 16:28] #25 closed

[2020-04-01 08:20] subins2000 commented on #25
Got it. Thank you for the quick reply !

[2020-04-02 14:21] abhijithvijayan opened #26 "allow manifest reloading"
currently manifest is generated from a js file

this could be changed to load from a manifest json file using custom loader
after adding manifest file as an entry

this will presumably auto build json on every change

see progress for loader at https://github.com/abhijithvijayan/wext-manifest/issues/4

[2020-04-02 14:25] abhijithvijayan opened #27 "rewrite webpack config in typescript"
for the typescript version

[2020-04-08 18:19] princesust opened #29 "source mapping to enhance the debugging process"
Is it possible to show the actual file contents inside source map without including webpack import. which sometimes difficult to debug

[code]

[2020-04-08 18:24] abhijithvijayan commented on #29
Let me look into that.

[2020-04-13 21:34] princesust opened #30 "Hot reloading"
If there are multiple extension using this boilerplate. Then if I put `npm run dev:chrome` then all the extension reloaded.

[2020-04-14 01:19] abhijithvijayan commented on #30
The extension reloader works by injecting a script and running a server for auto reloading.

To not reload all the extensions using the same boilerplate, I suggest changing port of extension reloader to a different one per extension.

[2020-04-14 01:21] abhijithvijayan commented on #29
I am not sure if this is even possible, but I will try to change webpack configuration, hoping to resolve this.

[2020-04-14 04:27] abhijithvijayan commented on #30
Did it work?

[2020-04-14 07:39] abhijithvijayan commented on #30
Closing for now. Feel free to reopen this if issue still persists.

[2020-04-14 07:39] #30 closed

[2020-04-17 08:33] slhck commented on #29
Any updates on this? This would be really crucial to have. Otherwise, awesome project!

[2020-04-17 08:35] abhijithvijayan commented on #29
Sorry, I was engaged in some projects.

I will try to find if this is possible asap.

[2020-04-17 08:50] slhck commented on #29
I found that `devtool: "source-map",` in the WebPack config at least generates the source maps for the browser polyfill, however it creates the following issue:

[code]

[2020-04-17 08:53] abhijithvijayan commented on #29
The option `devtool: 'source-map', should work.

I will see what the error is.

[2020-04-17 08:59] abhijithvijayan commented on #29
Also, on a quick look, the solution you suggested should work.

Could you add that line at top and submit a PR?

[2020-04-17 09:07] slhck commented on #29
I am not sure this works. I tried the solution suggested in the SO post to no avail.

Looks as follows in Chrome:

![image](https://user-images.githubusercontent.com/582444/79552490-6326e100-809b-11ea-8789-cdb60e5ef448.png)

And here in Firefox:

![image](https://user-images.githubusercontent.com/582444/79552648-95d0d980-809b-11ea-9240-94fddf603d1f.png)

Basically I think that the hot reloading mo

[2020-04-17 09:09] abhijithvijayan commented on #29
I think it is the issue with `webextension-polyfill`

There is a similar issue [here](https://github.com/AliasIO/wappalyzer/issues/2932)

[2020-04-17 09:28] abhijithvijayan commented on #29
Could you see if everything works with the devtool option enabled and the reloader disabled?

[2020-04-17 09:31] slhck commented on #29
I tested that, and I get the same error. The source code shown is basically the same bundled code, except for the reloader message on top. So the issue is a different one, and probably has to do with webpack itself not providing the source map correctly.

[2020-04-17 10:39] abhijithvijayan commented on #29
@slhck @princesust I guess it's an upstream issue. https://github.com/abhijithvijayan/web-extension-starter/issues/29

[2020-04-17 11:06] abhijithvijayan commented on #29
@princesust @slhck @antons

See if the fix 23cc204 works

Closing for now.

Feel free to re-open or comment if the issue still persist.

Thanks for reporting the issue

[2020-04-17 11:07] #29 closed

[2020-04-17 12:28] slhck commented on #29
This seems to work! Thank you! :tada:

[2020-04-18 05:27] abhijithvijayan opened #31 "optimize webpack output stats"
The logs get congested with each build and change

Optimize output stats to show only errors, buildtime, and few other stats

[2020-04-18 05:41] #31 closed

[2020-05-02 04:11] MatteoGioioso opened #32 "Expose environmental variables from .env"
I have tried the classic `.env` with `REACT_APP` prefix, but it does not work, I guess that is only for `react-script`.
Does this package it support something similar?
Thanks

[2020-05-02 05:02] MatteoGioioso commented on #32
I have found an easy way to handle it with `dotenv`

[code]
and then in plugins

[code]

[2020-05-02 05:30] abhijithvijayan commented on #32
@MatteoGioioso This only works with `create-react-app` running with `react-scripts`

[2020-05-02 05:36] abhijithvijayan commented on #32
@MatteoGioioso I dont think this is necessary.

Official webpack docs suggests to use `dotenv-webpack` plugin

Try using that instead

https://webpack.js.org/plugins/environment-plugin/#dotenvplugin

[2020-05-02 05:46] abhijithvijayan commented on #32
Currently, `EnvironmentPlugin` maps the `NODE_ENV` and `TARGET_BROWSER` variables passed through the scripts to `process.env`

It performs the same like `DefinePlugin` but is specifically for `process.env`

I thinks it's best to use the `EnvironmentPlugin` for these two variables and use `dotenv-webpack` plugin for any other variables.

[2020-05-02 09:10] MatteoGioioso commented on #32
@abhijithvijayan Unfortunately that approach did not work for me.

[2020-05-02 09:12] abhijithvijayan commented on #32
Maybe the .env path is wrong.

I will set this up later and push the changes.

[2020-05-02 09:13] MatteoGioioso commented on #32
@abhijithvijayan wait, your package works fine, I just needed to add `dotenv` to pass my environmental variables for react

[2020-05-02 09:16] abhijithvijayan commented on #32
Anyways, I will set this up.

[2020-05-03 04:07] princesust opened #33 "Markdown formatting broken"
In bitbucket readme file is not showing properly.

[2020-05-03 04:09] abhijithvijayan commented on #33
I use some html tags within this docs just to get some things aligned.

I have seen that breaking in npm published packages readme.

Maybe thats the reason.

Try with regular tags.

[2020-05-08 09:17] slhck opened #34 "Selenium/WebDriver tests"
I have been trying to use your code base to set up a wrapper with Jest and Selenium-Webdriver in order to install the extension in Chrome and Firefox.

In case you would like to add this to your code, please find some starting points here:

https://github.com/slhck/web-extension-selenium-test

Particularly see the `test` scripts in `package.json` as well as the files in `test/integration`.

I've r

[2020-05-08 09:27] abhijithvijayan commented on #34
Is it necessary to test the extension within the browser?

The idea seems to interesting as even if all sorts of tests are successful, production errors(user system browser specific) errors usually can happen.

Do submit a PR once the wrapper is functional.

Thanks.

[2020-05-23 03:03] #33 closed

[2020-06-02 19:49] princesust opened #37 "Feat: react + javascript branch"
some people think typescript is extra overhead when you have a time constraint.

[2020-06-03 05:06] abhijithvijayan commented on #37
It doesn't require much effort.

[2020-06-04 13:54] princesust commented on #37
I already did it for myself. But a warning shows for core js. I resolved that issue by install core-js and make a change in .babelrc file. Not sure is that the correct procedure.

[2020-06-04 14:30] abhijithvijayan commented on #37
I saw the core-js warning, didnt want to add another dependency and handle its updates and stuff.

It is a dependency of another dependency, unless the core team of the dependency that requires core-js changes it, we dont have to do anything and can ignore the warning.

Also, I will take care of the new branch, doesnt require much effort.

[2020-06-05 22:10] princesust commented on #37
Ok, I will push a new branch.

[2020-06-05 23:28] princesust opened #39 "Salesforce lightning design system react"
When I try to integrate `salesforce/design-system-react` it's showing `babel-preset-env` not found. Not sure is it `salesforce/design-system-react` design system issue or `web-extension-starter` issue.

[2020-06-06 05:38] abhijithvijayan commented on #39
Reproducible repo?

[2020-06-06 05:41] abhijithvijayan commented on #37
Its fine.

[2020-06-06 05:41] abhijithvijayan commented on #37
I am half way done.

[2020-06-06 06:16] abhijithvijayan commented on #37
@princesust Checkout https://github.com/abhijithvijayan/web-extension-starter/tree/react-javascript branch

[2020-06-06 06:16] #37 closed

[2020-06-06 06:47] abhijithvijayan commented on #37
Also pushed a fix to disable that `core-js` version warning

[2020-06-06 06:51] #26 closed

[2020-06-06 06:57] abhijithvijayan commented on #10
Webpack assets hashes, if possible could be added to manifest at runtime.

[2020-06-15 13:04] Akshay090 opened #40 "Not able to import images"
webpack gives error for importing images in react

[2020-06-15 13:15] abhijithvijayan commented on #40
You don't have to import image assets, webpack automatically copies `source/assets` folder to `build` directory under `assets` folder.

Copy the image to `source/assets` folder and use it
[code]

[2020-06-15 13:15] #40 closed

[2020-06-15 14:09] Akshay090 opened #41 "Image import error in react"
Webpack gives error for image import as no appropriate loaders are set for it.

[2020-06-15 14:21] Akshay090 commented on #40
oh I didn't knew that. I don't think there would be any special benefit to import image as we typically do in normal react app. Your method of doing it is good.

[2020-06-15 15:04] abhijithvijayan commented on #40
create-react-app has loaders to handle the asset imports.

I didnt want to add more loaders to the boilerplate as webextensions usually do not require much of images.

[2020-07-02 17:38] abhijithvijayan opened #42 "Migrate to eslint v7"
See the progress at https://github.com/abhijithvijayan/eslint-config/issues/3

[2020-07-03 16:41] abhijithvijayan commented on #42
The configuration at version 2.5.2 uses Eslint V7 and is stable.

[2020-07-09 18:09] #39 closed

[2020-07-21 20:11] abhinavzspace opened #44 "What could be right way to dynamically import a file from a npm package into a webpage through content_script?"
I have been unsuccessful in trying to import a file from npm package into a web page through content_script. I want to import this file on an action from popup browser action.

To establish the basic setup, I tried importing your `emoji-log` library. I followed the following steps:

1. Add `new CopyWebpackPlugin([{from: 'node_modules/emoji-log/lib/index.js', to: 'js/emoji-log/lib/index.js'}]),` in

[2020-07-21 20:15] abhijithvijayan commented on #44
Could you kindly add a reproducible repo for me to test the above?

[2020-07-21 20:16] abhinavzspace commented on #44
Sure. Give me a few minutes. And Thanks!

[2020-07-21 20:20] abhijithvijayan commented on #44
Try with `browser.runtime.getURL()`

[2020-07-21 20:28] abhinavzspace commented on #44
Tried both. `runtime` and `extension`.

Please find the code [here](https://github.com/abhinavzspace/web-extension-starter/tree/master)

[2020-07-21 21:04] abhijithvijayan commented on #44
The path is generated correctly but the import statement seems to break the injected script usage

I will look more into it anyways. Also, even if this works in chrome, it [won't](https://bugzilla.mozilla.org/show_bug.cgi?id=1536094) work in firefox

[2020-07-21 21:06] abhinavzspace commented on #44
ahhh... Is there an alternate way of doing this. I just need to inject script occasionally on an action.

[2020-07-21 21:23] abhijithvijayan commented on #44
@abhinavzspace I had luck with [this](https://stackoverflow.com/a/48121629) but it doesn't use dynamic imports.

I will look into this issue anyways. My guess with with babel plugins.

[2020-07-21 21:27] abhinavzspace commented on #44
Thanks! Will look into it.

[2020-07-22 09:05] abhinavzspace commented on #44
Confirmed. Alternate way you suggested, works. Thanks a lot.

[2020-07-22 09:08] abhijithvijayan commented on #44
Cool. The way with dynamic import should've worked, but at this point I am unclear about why it doesn't work.

Closing this issue for now. Feel free to reopen if you run into problems again.

Thanks

[2020-07-22 09:09] #44 closed

[2020-07-23 08:59] AdityaAnand1 opened #45 "All colors are inverted?"
![image](https://user-images.githubusercontent.com/13274079/88268860-b76fdb80-ccf0-11ea-9568-5ee6da97da1d.png)

For some reason, all website colors are inverted whenever I activate this boilerplate extension.

Just git pulled and loaded into the latest chrome, no other changes. It goes back to normal when I remove/disable this specific extension and I can't find any styles that lead to this. There

[2020-07-23 09:00] abhijithvijayan commented on #45
The sample code(in ContentScripts) invert the color.

It was done for the demo, but I guess it causes more ambiguity.

[2020-07-23 09:03] AdityaAnand1 commented on #45
Ahh! Just saw it. Yeah, that was a little jarring. Hehe, I think the icon appearing + popup/options etc. is enough evidence that the extension boilerplate works.

Anyone wanting to do more will inevitably stumble to official extension docs in which case they can figure out by themselves what contentscript can be used for.

I think this should be removed. Or commented.

[2020-07-23 09:03] #45 closed

[2020-07-23 09:05] abhijithvijayan commented on #45
Nice catch @AdityaAnand1

I have removed the line from all 3 branches.

[2020-07-30 03:37] niftylettuce opened #46 "README typo Taylored -> Tailored"

[2020-07-30 04:01] abhijithvijayan commented on #46
Switch to the branch where there is this typo, fix the typo, submit a PR

[2020-07-30 04:02] niftylettuce commented on #46
It's on your default branch.

[2020-07-30 04:02] #46 closed

[2020-07-30 04:03] abhijithvijayan commented on #46
Please submit a PR

[2020-07-30 04:06] niftylettuce commented on #46
It's in the master branch, and best of luck with this project

[2020-09-24 00:51] anubhavmalik opened #48 "Can we show this extension like a sidebar instead?"
I tried injecting code via content script but didn't work

[2020-09-24 02:51] abhijithvijayan commented on #48
It seems possible

Checkout https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Sidebars

[2020-10-12 04:16] anaclumos opened #49 "[FEAT] Support for Safari Browsers"
I have found previous issues (#9 and #11) that Safari uses its proprietary extension format, and web-extension-starter for Safari will not be worked on. I am curious about an updated plan since Safari supports WebExtension from Safari 14. Will there be a Safari branch?

References:
* [https://developer.apple.com/safari/extensions/](https://developer.apple.com/safari/extensions/)
* [https://develop

[2020-10-12 05:10] abhijithvijayan commented on #49
I dont own a mac. So I cant really test anything on it.

[2020-10-12 05:11] abhijithvijayan commented on #49
But if it does support webextensions, it wont be that hard for the starter to support it

[2020-10-19 19:44] anubhavmalik commented on #48
I will re-open this when I am able to try this out. For now I am closing this issue since I am not able to pursue this further.

[2020-10-19 19:44] #48 closed

[2020-10-19 19:44] anubhavmalik commented on #48
Thank you for the reply @abhijithvijayan ...
I will re-open this when I am able to try this out. For now I am closing this issue since I am not able to pursue this further.

[2020-11-01 10:01] lowwebtech opened #50 "Add npm tasks to release on webstores"
Hello,
Thank you for your work.
Would it be possible to add npm tasks to automatically publish to the Firefox and Chrome stores?
It is possible with:
https://www.npmjs.com/package/web-ext-submit FF
https://www.npmjs.com/package/chrome-webstore-upload-cli Chrome

I will submit a PR if I find some time :/

[2020-11-01 10:06] abhijithvijayan commented on #50
I guess it is fairly easy. Thanks.

[2020-11-03 11:30] Gvozd opened #51 "How to use react devtools?"
In сhrome, extensions not working on extension page(e.g. options.html)
And i dont know a way to make them work

How do you use React Devtools?
Is there some easy way?

I'm trying to use react-devtools-inline for now, and I will share the solution later, if there are no simpler/convenient solutions

[2020-11-03 11:39] abhijithvijayan commented on #51
What do you mean by extensions are not working on options page?

[2020-11-03 13:40] Gvozd commented on #51
In Chrome
1. I install react devtools extension https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi
2. Go to chrome-extension://poejihmdinohpgnbcpfidehmnnakjkfn/options.html of developed extension
3. F12 - has now react devtool tabs in chrome devtools

[2020-11-14 21:40] Gvozd commented on #51
@abhijithvijayan
Do you have any ideas how to use react devtools for debug plugin?

[2020-11-15 09:23] abhijithvijayan commented on #51
Let me check it out

[2020-11-15 10:31] abhijithvijayan commented on #10
Fixed in 29a43e451d772d982c2617206bf3aa27cdd3b6aa

[2020-11-15 10:31] #10 closed

[2020-11-15 10:32] abhijithvijayan commented on #42
Fixed in 5ac77696ccf4cf0db37b7734d468bcffcc658da6 and 3efbf856e8b4fbceecbc67b10c1f765e2bde7532

[2020-11-15 10:32] #42 closed

[2020-11-15 11:22] abhijithvijayan commented on #51
@Gvozd I have looked into the issue and noticed that it is due to restrictions put by the browser.

But you can take a look at this [solution](https://stackoverflow.com/questions/34540491/when-developing-chrome-extension-chrome-react-devtools-doesnt-show-up) to get it working

[2020-11-15 11:54] abhijithvijayan commented on #51
Solution:

- Instal react-devtools
[code]
- Add script tag to `popup.html` or `options.html`
[code]
- Update `manifest.json`
[code]
- Run `react-devtools` in the console
[code]
- Launch chrome extension in browser(restart extension `chrome://extensions` if already running)
- Voila!

[2020-11-15 11:56] abhijithvijayan commented on #51
Closing for now. feel free to reopen if issue still persist.

[2020-11-15 11:56] #51 closed

[2020-11-15 12:03] abhijithvijayan commented on #34
Closing for now.

[2020-11-15 12:03] #34 closed

[2020-11-15 12:13] slhck commented on #34
Whoops, yeah, sorry for not following up with you on this. We have a solution and I may be able to port it back to this repo. Will file a PR if I get to it.

[2020-11-15 12:15] abhijithvijayan commented on #34
Well if you get it working and ready to put a PR, I will create a new branch with that.

This is to keep the other 3 main branches as minimal as possible.

[2020-11-15 18:00] abhijithvijayan commented on #51
@Gvozd did it work for you?

[2020-11-15 23:41] Gvozd commented on #51
@abhijithvijayan
yes, it works, but not fully
It lacks an item selection button on the page, and navigation to the source code of the component
![image](https://user-images.githubusercontent.com/1365584/99199478-7bd1b380-27b0-11eb-9a83-9b9a96fe5735.png)

I experimented with the `react-devtools-inline`, and opening it in another tab
In this case "select an element" worked
But this module requierd e

[2021-01-05 15:55] shivamsingha opened #57 "ERROR in ./source/manifest.json"
I'm getting this error and there's no reference to what's causing it. manifest.json is basically the same as in the starter.
[code]

[2021-01-05 16:04] shivamsingha commented on #57
Sorry! My bad.

[2021-02-10 17:48] abhijithvijayan commented on #49
Can test this out.

[2021-04-09 14:35] robindijkhof commented on #32
any update on this?

[2021-04-09 16:56] abhijithvijayan commented on #32
@robindijkhof

Will look into your PR later.

[2021-05-16 22:35] ChildishGiant opened #65 "CRX_REQUIRD_PROOF_MISSING when trying to install the generated .crx on chrome"
![image](https://user-images.githubusercontent.com/13716824/118414827-b99b9000-b69e-11eb-8feb-cffbd7835586.png)

I can install it on new edge (chromium) without this issue.

[2021-05-17 06:42] abhijithvijayan commented on #65
Try using zip instead.

I will look into this issue. I think latest chromes have this issue

https://stackoverflow.com/questions/56930454/chrome-extension-throws-crx-file-error-crx-requird-proof-missing

[2021-05-17 06:43] abhijithvijayan commented on #65
By the way, the webpack setup only builds extension in crx for opera, it is now building into zip for chrome

[2021-05-17 12:35] ChildishGiant commented on #65
It's probably worth noting that I'm using the master branch

[2021-05-17 14:38] abhijithvijayan commented on #65
Even still, the [webpack config](https://github.com/abhijithvijayan/web-extension-starter/blob/master/webpack.config.js) builds zip for chrome.

[2021-05-17 21:01] emorling opened #66 "[Migration] support for Manifest v3"
Any plans on upgrading this to work with manifest V3? Or a list of manual changes that need to be done? It doesn't seem to work out of the box for V3.

[2021-05-23 09:21] zava810 opened #67 "fsevent is incompatible with this module, build skipped."
yarn install # build is getting skipped in linux mint 20
[yn0062](https://yarnpkg.com/advanced/error-codes#yn0062---incompatible_os)
The platform linux is incompatible with this module, build skipped.

[2021-05-23 11:00] abhijithvijayan commented on #66
i will look into this.

[2021-05-23 11:02] abhijithvijayan commented on #67
@zava810 i have bumped dependencies for `react-typescript` branch.

try with the latest version of the branch and see if it works

[2021-05-23 11:03] #32 closed

[2021-05-23 11:04] abhijithvijayan commented on #32
Since this is a simple addition to the starter, if needed, anyone can set it up by referring PR #60

[2021-05-23 11:05] #65 closed

[2021-05-23 11:06] abhijithvijayan commented on #27
can be parked for later when switched to webpack 5 in the future

[2021-05-23 11:53] zava810 commented on #67
1) eslint-config-airbnb-typescript@npm:8.0.2 [92137] doesn't provide eslint-plugin-react-hooks (pf358d), requested by eslint-config-airbnb
2) YN0062 : fsevents@patch:fsevents .... linux is incompatible with this module, build skipped
in linux it is compatible with both typescript/javascript release.

[2021-06-08 14:23] VladSez commented on #49
Maybe this thread can be helpful: https://github.com/sindresorhus/refined-github/issues/14
Also this: https://developer.apple.com/videos/play/wwdc2021/10104/

[2021-06-08 15:53] abhijithvijayan commented on #49
Thanks

[2021-06-16 14:48] arnaumanyosa opened #70 "Extension in development not reloading in Chrome"
The extension is not reloading in Chrome (version 91 tested)

In Firefox (version 89 tested) works perfectly as expected.

[2021-06-16 14:48] abhijithvijayan commented on #70
will check

[2021-06-23 15:58] abhijithvijayan commented on #67
stale. closing.

[2021-06-23 15:58] #67 closed

[2021-06-25 12:48] linonetwo opened #71 "How to import jsx file in ContentScript?"
I get

[code]

<img width="225" alt="截屏2021-06-25 下午8 48 40" src="https://user-images.githubusercontent.com/3746270/123427060-ba590780-d5f6-11eb-8547-3c4a0334dd5e.png">

/ContentScript/index.ts
[code]

/ContentScript/FloatingPanel/index.jsx
[code]

This will not work.

So, How to render a React widget right into the webpage?

[2021-06-25 12:58] abhijithvijayan commented on #71
i will investigate this soon

[2021-06-25 12:59] abhijithvijayan commented on #71
Btw you are not exporting anything inside FloatingPanel/index.tsx

[2021-06-25 13:01] linonetwo commented on #71
I guess that is why you `export {};` in the index.ts

Oh, I tried out, but after I add `export {};` to `index.tsx` it still can't be resolved...

[2021-06-25 13:02] abhijithvijayan commented on #71
You are using `react-javascript` branch I presume

[2021-06-25 13:03] abhijithvijayan commented on #71
I will check it out later.

[2021-06-25 13:04] linonetwo commented on #71
Oh， wow, you point out the thing, it should be named `index.tsx`

Actually I'm using React + TypeScript branch, so this solves my problem, than you for this quick help!

[2021-06-25 13:04] #71 closed

[2021-06-25 13:09] linonetwo commented on #71
This starter works pretty great, thank you for making this. I've followed you in Github now.

[2021-06-25 13:24] abhijithvijayan commented on #71
Cool. Glad to know repo helped.

[2021-07-02 09:56] sephentos commented on #66
any update?

[2021-07-02 10:08] abhijithvijayan commented on #66
Sorry, I didnt get time for this.

I would appreciate some insights or anything that on this.

[2021-07-03 11:14] wirtzdan commented on #49
Would be super awesome! 👏

[2021-07-03 11:16] abhijithvijayan commented on #49
Will work on this in some spare time that I get.

[2021-07-03 16:31] wirtzdan commented on #49
Thanks! 🙏

[2021-07-03 21:19] emorling commented on #66
I think this is the best documentation on what an upgrade från V2 to V3 implies:

https://developer.chrome.com/docs/extensions/mv3/intro/mv3-migration/

[2021-07-04 03:45] abhijithvijayan commented on #66
Oh thats a lot of changes.

[2021-07-04 03:58] abhijithvijayan commented on #66
@emorling i dont think manifest v3 is being pushed to firefox anytime soon.

And the changes

[2021-07-12 14:49] arnaumanyosa opened #72 "js sourcemaps are not generated"
I'm aware of the previous [issue](https://github.com/abhijithvijayan/web-extension-starter/issues/29)

not sure how the [fix](https://github.com/abhijithvijayan/web-extension-starter/commit/23cc204dc433f642a9fd87b56080985041ddd88f) worked for you, when basically you are telling webpack not to generate them.

[2021-07-13 17:51] abhijithvijayan commented on #72
Using

[code]

plugin

[2021-07-16 17:16] fregante commented on #49
I plan on extracting the code I wrote for Refined GitHub (mentioned earlier) into its own module and make Safari support easier for non-Xcode developer. If you wait… a bit longer… I might get to it.

[2021-07-16 17:18] abhijithvijayan commented on #49
Nice @fregante

[2021-07-17 14:06] abhijithvijayan commented on #72
broken somewhere along the way, checking this now.

[2021-08-13 15:27] id3vz opened #74 "Migration to ESBuild from Babel"
I'm using the React + TypeScript branch and using React in ContentScript,
When I make any change in the react files it takes about 40 seconds until I can see the change in the browser and the page reloaded.
How to make it faster as 40 seconds is too much?

[2021-08-13 15:37] abhijithvijayan commented on #74
It doesnt really take 40seconds on my machine.

But I will consider migrating to esbuild from babel.

Will keep this issue open for now.

[2021-08-23 14:45] arnaumanyosa opened #75 "How to add CSS Modules into ContentScript?"
Sorry if it's not the place, probably it's not an issue, but I don't know where to ask.

I use React with Typescript. In ContentScript I load a custom component which is in `source/shared/components/MyComponent/MyComponent.tsx`

and I create a Scss for it: `source/shared/components/MyComponent/MyComponent.scss`

I notice that the styling is added in `extension/firefox/css/contentScript.css` when i

[2021-11-18 06:39] eggsterino opened #78 "Sync-scroll misbehave on long lines"
Thanks for the extremely useful plugin!

The sync-scroll feature doesn't play nicely with auto wrap lines on the latex side. For example, I write paragraphs as a very long line since I have screens of different sizes. On the right side, this causes the text in the textarea to be shifted to more than one page.

[2021-11-18 07:36] #78 closed

[2021-11-26 20:55] PissMan420 opened #79 "got a weird c++ error"
While installing all the depencises using the command `yarn` I got this weird error:
[code]

I have no clue how to solve it

[2021-11-27 16:02] PissMan420 commented on #79
I solved this issue by installing the deps using npm instead of using yarn

[2021-11-27 16:02] #79 closed

[2021-11-27 16:04] abhijithvijayan commented on #79
i will upgrade the depedencies this project is relying on to use fixed versions to prevent issues like this in the future.

[2021-11-27 16:05] abhijithvijayan commented on #75
resolved?

[2021-11-27 16:05] PissMan420 commented on #79
Thank you. I believe the issue is due to libsass.

[2021-11-27 16:06] abhijithvijayan commented on #72
resolved?

[2021-11-28 17:08] arnaumanyosa commented on #75
Yes, resolved. I close the issue. Thanks!

[2021-11-28 17:08] #75 closed

[2021-11-28 17:10] arnaumanyosa commented on #72
Not resolved

[2021-11-29 05:45] abhijithvijayan commented on #70
@arnaumanyosa it is reloading in v96.

closing for now. re-open if you still have this issue

[2021-11-29 05:45] #70 closed

[2021-11-29 05:47] abhijithvijayan opened #80 "[FEAT] add support for css modules"
adjusting webpack config like
[code]
will add support for css modules so that

[code]

will work fine

<img width="977" alt="Screenshot 2021-11-29 at 11 19 00" src="https://user-images.githubusercontent.com/34790378/143815400-31858020-d738-44bc-8e2e-b142f971c71d.png">

[2021-12-02 10:09] abhijithvijayan commented on #51
updated the answer here to use a custom webpack plugin i wrote now. works fine in my project.

[2021-12-02 20:44] abhijithvijayan commented on #66
<img width="687" alt="Screenshot 2021-12-03 at 01 44 22" src="https://user-images.githubusercontent.com/34790378/144499952-5b8bc064-5cb0-4120-9c5d-764d031e096a.png">

Google is so arrogant with their release of manifest v3. This might be a good time to see what is to be done for the benefit of Firefox too.

[2021-12-02 20:55] abhijithvijayan commented on #74
This is do-able but the problem could be with support for old browsers(as I am not sure if ESBuild is somewhat flexible to Babel's browser version specific bundles) So this could mean dropping support for older browsers.

Currently the manifest v3 upgrade might need to drop support for old browsers ( Chrome < 88 ). If that is the case, I will surely consider doing this too. For now I think Keeping

[2021-12-02 21:00] abhijithvijayan commented on #49
https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari

[2021-12-08 16:03] velocinator opened #81 "Unsure how to compile new scss files to put in."
I'm using the master branch (I'm unsure how far behind this branch is, but I haven't been able to add any new SCSS files to my project.

[2021-12-08 16:15] abhijithvijayan commented on #81
all the branches are up-to-date in their own way. what is the issue you are facing? i checked the scss webpack config across `master` & `react-typescript` branch and both are same so it should work fine. there are already some global scss files uses in `master` branch

[2022-01-03 23:15] MerrickClark commented on #49
@abhijithvijayan / those contributing (or considering) towards Safari support:
I'm working on an existing project utilizing this awesome starter kit; PS great work @abhijithvijayan!

I'm confident I can get a solid monetary donation towards adding Safari support if there's willingness on the contributors side of things. I've been trying to port what I have working to Xcode and I'm hitting wall aft

[2022-01-04 01:58] fregante commented on #49
What problem are you encountering? I haven't had time to extract the code as I was hoping, but Apple's conversion tool should do most of the work of loading the extension in the browser.

[2022-01-04 05:20] #81 closed

[2022-01-04 05:46] abhijithvijayan commented on #49
The underlying support @fregante did can be seen on
- https://github.com/refined-github/refined-github/pull/3677
- https://github.com/refined-github/refined-github/issues/3686#issue-728911931
- https://github.com/refined-github/refined-github/pull/4787

Apple Conversion Tool ref: https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari

N

[2022-01-04 05:47] #27 closed

[2022-01-04 05:48] abhijithvijayan commented on #50
For safari, refer https://github.com/refined-github/refined-github/issues/3686

[2022-01-04 06:50] abhijithvijayan commented on #66
Update:

- The underlying polyfill by Mozilla has an issue open with respect to support for Chrome's v3 APIs
see: https://github.com/mozilla/webextension-polyfill/issues/329#issuecomment-884938069

- The initial steps to be done for the `manifest.json` mentioned in [migration guide](https://developer.chrome.com/docs/extensions/mv3/intro/mv3-migration/) can be accomplished by vendor prefixed keys (

[2022-01-21 11:51] princesust commented on #66
@abhijithvijayan , I test it in one of my project and it's working fine. I think minimum chrome version will be 88.

[2022-01-22 10:57] hadikhzouz opened #83 "Overleaf textarea on Firefox"
First of all, thank you so much for this great tool.
I have, however, experienced the following bugs:

1- Overleaf textarea, cannot recognize the language used in overleaf, for example, when writing [In \cite{xyz}, the Authors .....], overleaf textarea recognizes the following [In , the Authors ....] which prevent Grammarly from working properly.
2- In order to regenerate a pdf file on overleaf, y

[2022-01-22 14:26] abhijith-vijayan commented on #83
What?

[2022-01-22 14:27] abhijithvijayan commented on #83
What?---- On Sat, 22 Jan 2022 16:27:14 +0530  ***@***.******@***.***> wrote ----
First of all, thank you so much for this great tool.
I have, however, experienced the following bugs:
1- Overleaf textarea, cannot recognize the language used in overleaf, for example, when writing [In cite{xyz}, the Authors .....], overleaf textarea recognizes the following [In , the Authors ....] which prevent Gramm

[2022-01-22 14:57] hadikhzouz commented on #83
Here are some screenshots for what I meant in point 1:

[image: grafik.png]
[image: grafik.png]

Point 2 is less important for me.

On Sat, Jan 22, 2022 at 3:27 PM Abhijith Vijayan ***@***.***>
wrote:

[2022-01-22 15:00] abhijithvijayan commented on #83
@hadikhzouz there is no image attached here. and also overleaf or any extension that is intended to work with overleaf has no relation with this project. Please submit the issue to the right repository of the extension that you are using.

[2022-01-22 15:00] #83 closed

[2022-02-03 08:43] came commented on #72
I don't get any source maps neither using new webpack.SourceMapDevToolPlugin({filename: false})

[2022-02-11 15:57] arnaumanyosa opened #86 "Node-sass is deprecated"
Move to sass package.

Would be any issue on webpack, etc?

[2022-02-14 08:26] arnaumanyosa commented on #86
Apparently by removing `node-sass` and installing `sass` is enough and it everything works as expected.

https://stackoverflow.com/questions/63943756/replace-node-sass-with-dart-sass-in-create-react-app-v3-x

[2022-04-09 09:48] lr72 opened #87 "The overleaf pdf appear on top of the textarea and hide it"
![image](https://user-images.githubusercontent.com/8665420/162566620-cc58672c-b30f-4bd0-a10d-1cc1986b1b77.png)

[2022-04-09 15:07] Birdi7 commented on #87
Hello! I have the similar problem. I think overleaf made a release some time ago, and this issue appreared

[2022-05-04 17:04] abhijithvijayan commented on #87
this isnt related to any extensions on store at all.

[2022-05-04 17:05] #87 closed

[2022-06-12 16:54] abhijithvijayan commented on #66
The extension hot reloading library also lacks support for this.

https://github.com/SimplifyJobs/webpack-ext-reloader/issues/28

[2022-06-13 08:06] abhijithvijayan commented on #66
The `wext-manifest-loader` library (`v2.4.1`) now supports env variables alongside vendor prefixes   https://github.com/abhijithvijayan/wext-manifest-loader#2-how-can-i-conditionally-set-keys-based-on-environment

For development/production env for `chrome` we now can use manifest v3 fields
For development/production env for `firefox` we now can use manifest v2 fields

[code]

For chrome in produc

[2022-06-13 18:31] itsfadnis opened #92 "How to access browser local storage API?"
Hi. This plugin is meant for cross browser support, so is there a standardised API to access local storage?

In chrome we access it via the `chrome.storage.local.get/set` methods. However what is the right way to access it in a browser agnostic way, if any?

[2022-06-15 15:01] abhijithvijayan commented on #92
yes, please refer https://github.com/thedevs-network/kutt-extension/blob/master/source/util/settings.ts for examples

I also wrote a class wrapper around it which you can take a look at https://github.com/abhijithvijayan/Resumey.Pro-Downloader/blob/main/source/utils/storage.ts

[2022-06-15 15:01] #92 closed, assigned to nobody

[2022-06-26 07:29] abhijithvijayan commented on #66
I have published an extension last week to firestore and chrome with manifest 2 and 3 combined(with content script only

~https://github.com/abhijithvijayan/Resume-Downloader/blob/main/source/manifest.json~

Edit:

[2022-07-13 12:55] Egor-Koldasov commented on #86
Why the issue is closed though? package.json still has the deprecated node-sass. I wasn't even able to run the project until I replaced the dependency in my fork.

[2022-07-21 13:04] arnaumanyosa commented on #86
@Egor-Koldasov Good question, probably I was busy at that time or something and just added the info.

@abhijithvijayan Here is a PR to fix this https://github.com/abhijithvijayan/web-extension-starter/pull/94

[2022-07-28 09:45] lsmith77 commented on #72
same issue here.

I enabled `sourceMap: true` in tsconfig.json and `devtool: 'source-map'` in webpack.config.js

it is generating .map files, however these only contain a single file, f.e.:
[code]

so I suspect the issue is that it is generating the source map not from the source typescript files but from the generated javascript files.

the other issue is that enabling `source-map` in webpack is

[2022-08-23 07:03] alburidy opened #95 "Grammarly pop-up window blocking our review"
First of all,

THANK YOU SO MUCH FOR THIS AMAZING TOOL!

I have only one issue with it though:
Grammarly pop-up window is blocking our review. Is it possible to minimize it while writing?

<img width="960" alt="95" src="https://user-images.githubusercontent.com/70868579/186092499-196ba8b0-2312-40d0-ac8a-5aaee0bef76f.png">

[2022-08-26 12:44] ss5nathan commented on #66
Link giving a 404, possible to update it? Hoping to see an example to help migrate!

[2022-09-26 05:15] abhijithvijayan commented on #72
this is a critical issue, will pick this up soon and get it fixed.

[2022-09-26 05:41] abhijith-vijayan commented on #95
this issue is not related to this project. please consider reporting it to the appropriate developers.

[2022-09-26 05:46] abhijithvijayan commented on #95
This issue is not related to this project. Please report it to the overleaf extension you are using. Probably they use this project to build their extension but this project is not related to that.

[2022-09-26 05:46] #95 closed, assigned to nobody

[2022-09-26 06:23] abhijithvijayan commented on #86
this is resolved.

[2022-09-26 06:23] #86 closed

[2022-09-26 06:26] abhijithvijayan commented on #66
updated link: https://pastebin.com/raw/rurMH5Zh

[2022-09-26 16:26] abhijithvijayan commented on #72
will migrate to webpack 5 and see if this issue is persisting there. Webpack 5 has been out for sometime and is running without much issues these days.

there is a possibility that some of the plugins might not work in webpack 5, will be migrating that as well. also i would be upgrading to node 16.

The plugin / loader I created for this project also needs some migration for the webpack 5, i will

[2022-09-26 19:03] abhijithvijayan commented on #72
support for webpack 5 is added for `wext-manifest-loader` in `3.0.0`

had run into issues with the plugin while migrating, hopefully i can pick it up today and wrap it up

[2022-10-13 18:42] lsmith77 commented on #72
let me know if there is something to test or if you have a branch I can help on. I have to admit this isn't my main area of expertise but maybe I can still help work through some issues.

[2022-10-17 20:43] abhijithvijayan commented on #72
Thanks for the offer. I haven't forgotten about this issue. I have worked on the migration of the webpack plugin i wrote for this project but then there was complication as webpack 5 introduced some new apis and deprecated the api i was using there.

I will try n pick this up soon as well. Been caught up with work hence I couldnt get this done sooner.

Thanks for the patience. Will revert back wit

[2022-10-27 16:01] abhijithvijayan commented on #72
Have migrated the webpack plugin as well. Will be testing it properly before going for a release. Will keep updating here.

[2022-10-29 11:31] dhAlcojor opened #96 "[Bug] Styles (.scss) inside React component not being processed"
# What's going on
I'm pretty sure it's probably my fault and I'm doing something wrong, but I have created a React component and styles are not working.

In `ContentScript/index.tsx` I'm adding a React component to the web page:

[code]

This is the code for the component:

[code]

And this is the file with the styles:

[code]

I can't quite see what I might be doing wrong, but the styles are not

[2022-11-03 23:17] #49 closed

[2022-11-04 07:14] lsmith77 commented on #49
@anaclumos why did you close the issue?

[2022-11-20 20:32] lsmith77 commented on #66
starting end of January 2023 Firefox will support MV3
https://blog.mozilla.org/addons/2022/11/17/manifest-v3-signing-available-november-21-on-firefox-nightly/

also staring January, Chrome store will no longer show the featured badge for MV2 extensions:
https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/

[2022-11-24 12:11] lsmith77 commented on #72
any update? can we help with testing?